<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
    <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SelectAllAction</display-name>
    <servlet-name>SelectAllAction</servlet-name>
    <servlet-class>com.yunyuntop.action.SelectAllAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllAction</servlet-name>
    <url-pattern>/selectAllAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryPostAction</display-name>
    <servlet-name>HistoryPostAction</servlet-name>
    <servlet-class>com.yunyuntop.action.HistoryPostAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryPostAction</servlet-name>
    <url-pattern>/historyPostAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindBlogByKindsAction</display-name>
    <servlet-name>FindBlogByKindsAction</servlet-name>
    <servlet-class>com.yunyuntop.action.FindBlogByKindsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBlogByKindsAction</servlet-name>
    <url-pattern>/findBlogByKindsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigleAction</display-name>
    <servlet-name>SigleAction</servlet-name>
    <servlet-class>com.yunyuntop.action.SigleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigleAction</servlet-name>
    <url-pattern>/sigleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryLogAction</display-name>
    <servlet-name>HistoryLogAction</servlet-name>
    <servlet-class>com.yunyuntop.action.HistoryLogAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryLogAction</servlet-name>
    <url-pattern>/historyLogAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeQueryAction</display-name>
    <servlet-name>LikeQueryAction</servlet-name>
    <servlet-class>com.yunyuntop.action.LikeQueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeQueryAction</servlet-name>
    <url-pattern>/likeQueryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSubmitAction</display-name>
    <servlet-name>MessageSubmitAction</servlet-name>
    <servlet-class>com.yunyuntop.action.MessageSubmitAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSubmitAction</servlet-name>
    <url-pattern>/messageSubmitAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllMessageAction</display-name>
    <servlet-name>FindAllMessageAction</servlet-name>
    <servlet-class>com.yunyuntop.action.FindAllMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllMessageAction</servlet-name>
    <url-pattern>/findAllMessageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.yunyuntop.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.yunyuntop.action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/registerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotAction</display-name>
    <servlet-name>ForgotAction</servlet-name>
    <servlet-class>com.yunyuntop.action.ForgotAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotAction</servlet-name>
    <url-pattern>/forgotAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendAction</display-name>
    <servlet-name>EmailSendAction</servlet-name>
    <servlet-class>com.yunyuntop.action.EmailSendAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendAction</servlet-name>
    <url-pattern>/emailSendAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveAction</display-name>
    <servlet-name>ActiveAction</servlet-name>
    <servlet-class>com.yunyuntop.action.ActiveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveAction</servlet-name>
    <url-pattern>/activeAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yunyuntop.action.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CodeValAction</display-name>
    <servlet-name>CodeValAction</servlet-name>
    <servlet-class>com.yunyuntop.action.CodeValAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeValAction</servlet-name>
    <url-pattern>/codeValAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordAction</display-name>
    <servlet-name>UpdatePasswordAction</servlet-name>
    <servlet-class>com.yunyuntop.action.UpdatePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordAction</servlet-name>
    <url-pattern>/updatePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiscussAction</display-name>
    <servlet-name>AddDiscussAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AddDiscussAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiscussAction</servlet-name>
    <url-pattern>/addDiscussAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutAction</display-name>
    <servlet-name>OutAction</servlet-name>
    <servlet-class>com.yunyuntop.action.OutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutAction</servlet-name>
    <url-pattern>/outAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CaseCharFilter</display-name>
    <filter-name>CaseCharFilter</filter-name>
    <filter-class>com.yunyuntop.action.CaseCharFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CaseCharFilter</filter-name>
    <url-pattern>/messageSubmitAction</url-pattern>
    <url-pattern>/addDiscussAction</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ClickGreateAction</display-name>
    <servlet-name>ClickGreateAction</servlet-name>
    <servlet-class>com.yunyuntop.action.ClickGreateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickGreateAction</servlet-name>
    <url-pattern>/clickGreateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindNameAction</display-name>
    <servlet-name>FindNameAction</servlet-name>
    <servlet-class>com.yunyuntop.action.FindNameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNameAction</servlet-name>
    <url-pattern>/findNameAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserAction</display-name>
    <servlet-name>EditUserAction</servlet-name>
    <servlet-class>com.yunyuntop.action.EditUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserAction</servlet-name>
    <url-pattern>/editUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPWDAction</display-name>
    <servlet-name>EditPWDAction</servlet-name>
    <servlet-class>com.yunyuntop.action.EditPWDAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPWDAction</servlet-name>
    <url-pattern>/editPWDAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.yunyuntop.action.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/blog/userinfo.jsp</url-pattern>
    <url-pattern>/blog/editpwd.jsp</url-pattern>
    <url-pattern>/blog/edit.jsp</url-pattern>
    <url-pattern>/blog/upload.jsp</url-pattern>
    <url-pattern>/blog/editemail.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmailAction</display-name>
    <servlet-name>EditEmailAction</servlet-name>
    <servlet-class>com.yunyuntop.action.EditEmailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmailAction</servlet-name>
    <url-pattern>/editEmailAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmailCheckAction</display-name>
    <servlet-name>NewEmailCheckAction</servlet-name>
    <servlet-class>com.yunyuntop.action.NewEmailCheckAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmailCheckAction</servlet-name>
    <url-pattern>/newEmailCheckAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAction</display-name>
    <servlet-name>UploadAction</servlet-name>
    <servlet-class>com.yunyuntop.action.UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAction</servlet-name>
    <url-pattern>/uploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUemailAction</display-name>
    <servlet-name>CheckUemailAction</servlet-name>
    <servlet-class>com.yunyuntop.action.CheckUemailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUemailAction</servlet-name>
    <url-pattern>/checkUemailAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.yunyuntop.action.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogUploadAction</display-name>
    <servlet-name>AdminBlogUploadAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogUploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogUploadAction</servlet-name>
    <url-pattern>/adminBlogUploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBlogImgAction</display-name>
    <servlet-name>AdminAddBlogImgAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminAddBlogImgAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBlogImgAction</servlet-name>
    <url-pattern>/adminAddBlogImgAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMessageFindAction</display-name>
    <servlet-name>AdminMessageFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminMessageFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessageFindAction</servlet-name>
    <url-pattern>/adminMessageFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMessageDeleteAction</display-name>
    <servlet-name>AdminMessageDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminMessageDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessageDeleteAction</servlet-name>
    <url-pattern>/adminMessageDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserAddAdmin</display-name>
    <servlet-name>AdminUserAddAdmin</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserAddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAddAdmin</servlet-name>
    <url-pattern>/adminUserAddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserFindAction</display-name>
    <servlet-name>AdminUserFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserFindAction</servlet-name>
    <url-pattern>/adminUserFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserDeleteAction</display-name>
    <servlet-name>AdminUserDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteAction</servlet-name>
    <url-pattern>/adminUserDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserUpdateAction</display-name>
    <servlet-name>AdminUserUpdateAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserUpdateAction</servlet-name>
    <url-pattern>/adminUserUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserShowAction</display-name>
    <servlet-name>AdminUserShowAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserShowAction</servlet-name>
    <url-pattern>/adminUserShowAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsFindAction</display-name>
    <servlet-name>AdminKindsFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsFindAction</servlet-name>
    <url-pattern>/adminKindsFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsUpdateAction</display-name>
    <servlet-name>AdminKindsUpdateAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsUpdateAction</servlet-name>
    <url-pattern>/adminKindsUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsDeleteAction</display-name>
    <servlet-name>AdminKindsDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsDeleteAction</servlet-name>
    <url-pattern>/adminKindsDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsAddAction</display-name>
    <servlet-name>AdminKindsAddAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsAddAction</servlet-name>
    <url-pattern>/adminKindsAddAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsShowAction</display-name>
    <servlet-name>AdminKindsShowAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsShowAction</servlet-name>
    <url-pattern>/adminKindsShowAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogUpdateAction</display-name>
    <servlet-name>AdminBlogUpdateAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogUpdateAction</servlet-name>
    <url-pattern>/adminBlogUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogShowAction</display-name>
    <servlet-name>AdminBlogShowAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogShowAction</servlet-name>
    <url-pattern>/adminBlogShowAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogFindAction</display-name>
    <servlet-name>AdminBlogFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogFindAction</servlet-name>
    <url-pattern>/adminBlogFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogDeleteAction</display-name>
    <servlet-name>AdminBlogDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogDeleteAction</servlet-name>
    <url-pattern>/adminBlogDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogDeleteMuchAction</display-name>
    <servlet-name>AdminBlogDeleteMuchAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminBlogDeleteMuchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogDeleteMuchAction</servlet-name>
    <url-pattern>/adminBlogDeleteMuchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginAction</display-name>
    <servlet-name>AdminLoginAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginAction</servlet-name>
    <url-pattern>/adminLoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDiscussFindAction</display-name>
    <servlet-name>AdminDiscussFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminDiscussFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDiscussFindAction</servlet-name>
    <url-pattern>/adminDiscussFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserDeleteMuchAction</display-name>
    <servlet-name>AdminUserDeleteMuchAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserDeleteMuchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteMuchAction</servlet-name>
    <url-pattern>/adminUserDeleteMuchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKindsDeleteMuchAction</display-name>
    <servlet-name>AdminKindsDeleteMuchAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminKindsDeleteMuchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKindsDeleteMuchAction</servlet-name>
    <url-pattern>/adminKindsDeleteMuchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserFindAdminAction</display-name>
    <servlet-name>AdminUserFindAdminAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserFindAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserFindAdminAction</servlet-name>
    <url-pattern>/adminUserFindAdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserDeleteAdminAction</display-name>
    <servlet-name>AdminUserDeleteAdminAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminUserDeleteAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteAdminAction</servlet-name>
    <url-pattern>/adminUserDeleteAdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGreateFindAction</display-name>
    <servlet-name>AdminGreateFindAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminGreateFindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGreateFindAction</servlet-name>
    <url-pattern>/adminGreateFindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDisscussDeleteAction</display-name>
    <servlet-name>AdminDisscussDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminDisscussDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDisscussDeleteAction</servlet-name>
    <url-pattern>/adminDisscussDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGreateDeleteAction</display-name>
    <servlet-name>AdminGreateDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminGreateDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGreateDeleteAction</servlet-name>
    <url-pattern>/adminGreateDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOutAction</display-name>
    <servlet-name>AdminOutAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminOutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOutAction</servlet-name>
    <url-pattern>/adminOutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReceiveAddAction</display-name>
    <servlet-name>AdminReceiveAddAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminReceiveAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReceiveAddAction</servlet-name>
    <url-pattern>/adminReceiveAddAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReceiveDeleteAction</display-name>
    <servlet-name>AdminReceiveDeleteAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminReceiveDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReceiveDeleteAction</servlet-name>
    <url-pattern>/adminReceiveDeleteAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLoginFliter</display-name>
    <filter-name>AdminLoginFliter</filter-name>
    <filter-class>com.yunyuntop.action.AdminLoginFliter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFliter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchKindsAction</display-name>
    <servlet-name>AdminSearchKindsAction</servlet-name>
    <servlet-class>com.yunyuntop.action.AdminSearchKindsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchKindsAction</servlet-name>
    <url-pattern>/adminSearchKindsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMessageAction</display-name>
    <servlet-name>FindMessageAction</servlet-name>
    <servlet-class>com.yunyuntop.action.FindMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMessageAction</servlet-name>
    <url-pattern>/findMessageAction</url-pattern>
  </servlet-mapping>
</web-app>